.login_card{
    border-radius: 53px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(13, 25, 72, 0.12);
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.my_input{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(13, 25, 72, 0.12);
    padding: 10px 20px;
    font-size: 14px;
}
.contact_us_input{
    border-bottom: 1px solid black;
    background: #FFF;
    padding: 10px 0px;
    font-size: 14px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

.right_bg{
    background: url('/home/sarveshkumar/Desktop/my-projects/ingeltapp/src/assets/right-svg.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}


.my_card{
    border-radius: 40px;
    background: #0D1948;
    box-shadow: 0px 4px 60px 0px rgba(13, 25, 72, 0.44);
    backdrop-filter: blur(25px);
    flex-shrink: 0;
}
.my_service{
    border-radius: 105px;
    background: linear-gradient(135deg, #001E43 0%, #570169 100%);
    width: 100vw;
    height: 90vh;
}

.my_service_card{
    width: 300px;
    border: 2px solid #f7f7f81a;
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 100%);
    backdrop-filter: blur(100px);
}

.my_testimonial{
    clip-path: polygon(200% 0, 100% 86%, 46% 87%, 17% 100%, 20% 88%, 0 87%, 0 0);
    border-radius: 20px;
    width: 60vw;
    height: 80vh;
    flex-shrink: 0;
    
}
.drop_shadow{
    fill: #FFF;
    filter: drop-shadow(0px 8px 71px rgba(0, 0, 0, 0.12));
    
}

.contact_us{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 95vh;
    border-radius: 25px 0px 0px 25px;
}

.contact_information_card{
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%)
}

@media only screen and (max-width: 1200px) {
    .right_bg {
      background-color: lightblue;
      background: none;
    }
    .my_service{
        height: auto;
    }
    .my_testimonial{
        height: max-content;
        width: 90%;
    }
    .my_service{
        border-radius: 40px;
    }
    .my_card{
        border-radius: 25px;
    }
    .contact_us{
        height: auto;
        border-radius: 25px 25px 25px 25px;

    }
    .contact_information_card{
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%)
    }
  }
